<mat-card>
  <mat-card-header>
    <h2>User LogIn</h2>
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="loginForm"
      (ngSubmit)="proceedLogin()"
    >
      <mat-form-field class="example-full-width">
        <mat-label>UserName</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="hide ? 'password' : 'text'"
          formControlName="password"
          (cut)="$event.preventDefault()"
          (copy)="$event.preventDefault()"
          (paste)="$event.preventDefault()"
        />
        <mat-icon matTextSuffix (click)="hide = !hide">{{
          hide ? "visibility" : "visibility_off"
        }}</mat-icon>
      </mat-form-field>

      <div>
        <button mat-raised-button color="primary">Login</button>
        <a mat-raised-button routerLink="/signup" color="accent">New User?</a>
      </div>
    </form>
  </mat-card-content>
</mat-card>
