<mat-card>
  <mat-card-header>
    <mat-card-title>About Page</mat-card-title>
    <a
      style="margin-left: 70%; font-size: 20px; cursor: pointer"
      mat-dialog-close
    >
      X
    </a>
  </mat-card-header>
  <mat-card-content>
    <div style="padding: 10px" class="mat-elevation-z8">
      <h1>
        Hii Everyone Welcome to Authentication and rolebased checking Page
      </h1>
      <p>
        This page content authentication with log in and sign up option you can
        register or you can log with three role based id which have different
        role access, If you have register then you need to log in as admin and
        need to update the newly added user from the user section and give the
        user role
      </p>
      <ul>
        <b>Admin</b
        ><br />
        Username:admin<br />
        Password:Admin@123
      </ul>
      <ul>
        <b>User</b
        ><br />
        Username:user1<br />
        Password:User@123
      </ul>
      <ul>
        <b>Customer</b
        ><br />
        Username:cust1<br />
        Password:cust@123
      </ul>
      <br />
      <br />
      <p>
        Admin can add,edit and delete the Customers details While User and only
        Add and edit and customer can only read, I have already given all the
        details above you can log in and check the role based condition one by
        one
      </p>
    </div>
  </mat-card-content>
  <mat-card-footer style="padding: 10px; color: black">
    The Page is desing by Athar Hossain<br />
    Phone No: 8240764685 <br />Email:ashar7003@gmail.com
  </mat-card-footer>
</mat-card>
